<p id="notice"><%= notice %></p>

<p>
  <b>Address:</b>
  <%= @listing.address %>
</p>

<p>
  <b>Rent:</b>
  <%= @listing.rent %>
</p>


<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
